.activeButton {
    background-color: coral;
    color: black;
    font-weight: bold;
}

.activeButton:hover {
    background-color: coral;
    color: black;
    font-weight: bold;
    cursor: not-allowed;
}