.panel {
    width: 100%;
}

.panelHeader {
    border-bottom: black solid 1px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    padding-bottom: 1em;
    width: 100%;
}

.navbar {
    border: black solid 1px;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
}

.sidebar {
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-bottom-left-radius: 0.6em;
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    min-width: 14em;
}

.workArea {
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-bottom-right-radius: 0.6em;
    display: flex;
    gap: 0.5em;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.objectListPanel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    width: 100%;
}