.panel {
    width: 100%;
}

.panelHeader {
    border-bottom: black solid 1px;
    display: flex;
    padding-bottom: 1em;
    width: 100%;
}

.field {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 2em;
}

.nestedPanel {
    border: black dashed 1px;
    border-radius: 0.5em;
    padding: 1em;
}

.nestedItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: 2em;
}

.navbar {
    border: black solid 1px;
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
}

.sidebar {
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-bottom-left-radius: 0.6em;
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    min-width: 14em;
}

.workArea {
    border-bottom: black solid 1px;
    border-right: black solid 1px;
    border-bottom-right-radius: 0.6em;
    display: flex;
    gap: 0.5em;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.workAreaContent{
    padding-top: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.objectListPanel {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    width: 100%;
}

.sequenceEditorPanel{
    border-left: black solid 1px;
    border-right: black solid 1px;
    padding: 0 1em;
    min-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.textAreaField {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.textAreaField textarea {
    flex: 1;
    resize: none;
}