.entityPickerPanel {
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    width: 20em;
    height: 20em;
    padding: 1em;
    position: absolute;
    z-index: 1000;
}